
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
}
.App{
    height: 100vh;
    width: 100vw;
}

h1{
    margin: auto;
    position: absolute;
}
p{
    margin-top: 120px;
}
.nav{
    width: 97%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: blue; */
    
}
.home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
}
.name{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 75%;
    width: 100%;
    /* background-color: blue; */
}
.checkOut-div{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.checkout{
    background-color: #ff715b;
    border: #000;
    outline: #000;
    color: black;
    padding: 5px 15px 7px;
    height: 50%;
    width: 17%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .dark-mode{
      background-color: #000000;
      color: #fff;
  }
  .light-mode{
      background-color: #fff;
      color: black;
  }
  .about-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: #ff715b; */
  }
  .img-div{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
  }
  .info-div{
    width: 25%;
    display: flex;
    /* background-color: beige; */
    height: 100%;
  }
  .about-header{
    color: coral;
    font-size: 3rem;
    margin-top: 10px;
    text-decoration: underline;
  }
  
  .about-info{
    font-size: 20px;
    padding: 2%;
    font-weight: 400!important;
  }
  .skills-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: coral; */
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .container { 
    background-color: rgb(192, 192, 192); 
    width: 100%; 
    border-radius: 15px; 
} 
.skill-div{
  /* width: 100%; */
  width: 50%;
  /* padding: 4px; */
  margin-top: 10px;
  /* display: flex; */
  /* background-color: coral; */
  /* flex-direction: column; */
  /* align-items: center; */
  height: 100%;
}
.skill { 
  background-color: rgb(116, 194, 92); 
  color: rgb(192, 192, 192); 
  padding: 1%; 
  text-align: right; 
  font-size: 5px; 
  border-radius: 15px; 
}
.projects-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* background-color: crimson; */
}
.project-card{
  height: 55%;
  width: 25%;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0 48px 100px 0 rgb(17 12 46 / 15%);
  /* background-color: rgb(142, 146, 136); */
  border: .5px solid #eee;
}
.project-container{
  margin-top: 150px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* background-color: blueviolet; */
  justify-content: center;
  flex-direction: row;
}
.image-project{
  height: 70%;
    width:100%;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer!important;
    background-color: #ff715b;
}
/* .project-info{
  height: ;
} */
h2{
  color: #ff715b;
}
.Contact-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  /* background-color: hotpink; */
}
.form-div{
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  /* background-color: greenyellow; */
}
.form{
  display: flex;
  height: 100%;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: indianred; */
  flex-direction:column;
}
form{
  height: 100%;
  width: 90%;
  /* background-color: indigo; */
  display: flex;
  margin-left: 100px;
  padding-top: 5%;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

input  {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}
textarea{
  width: 80%;
  height: 15%;
  margin: 10px 0;
}
button{
  width: 30%;
  height: 10%;
  font-size: 20px;
  margin: 20px;
  background-color: coral;
}
input:focus {
  border: 1px solid #555;
}